.searchbar {
	margin-top: 20px;
}

.searchbar .input-append {
	margin: 0 auto;
	position: relative;
	width: 65%;
}

.searchbar input[type=text] {
	height: 30px;
	line-height: 30px;
	width: 100%;
}

.searchbar .fa-search {
	position: absolute;
	top: 8px;
	right: 8px;
}

div.token-input-dropdown {
    overflow: auto;
    max-height: 550px;
    width: 742px;
}

section {
	padding: 0;
	margin: 20px 0;
}

.headline {
	padding: 10px;
	margin: 10px 0;
	background: rgba(206, 227, 245, 0.3);
	border-radius: 5px;
}

.headline h3 {
	padding: 0;
	margin: 0;
	font-size: 18px;
}

.headline h3 .glyphicon {
	cursor: pointer;
}

.headline h3 span {
	margin-right: 3px;
}

.headline h3 .badge {
	position: relative;
	top: -2px;
}

.headline .addToFav {
	font-weight: 500;
}

#addFavApps {
	margin-top: 30px;
}

.favoriteFilter {
	font-weight: normal;
	font-size: 14px;
	display: inline-block;
	margin: 0;
	position: relative;
	top: 4px;
}

.mdalign {
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 16px;
}

/*.favlist .actions .dropdown {
	cursor: pointer;
}*/

.datatable table tbody tr td {
	vertical-align: middle;
}

.datatable .fa-spinner {
	position: relative;
	left: 50%;
	font-size: 2em;
}

.edit-generic-ci-form .control-label {
	padding: 0 15px;
}
